// Utils styles
@import "./utils/vars";
@import "./utils/visually-hidden";
// Components
// studio
@import "./components/page-header";
@import "./components/logo";
@import "./components/hero-section";
@import "./components/modal";
@import "./components/benefits";
@import "./components/activity";
@import "./components/about";
@import "./components/client";
@import "./components/footer";
// portfolio
@import "./components/nav-portfolio";
@import "./components/projects";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.img {
  display: block;
  max-width: 100%;
}
